.Reviews {
    margin-top: 110px;
}

.reviews_images {
    display: flex;
    justify-content: space-between;
}

.reviews_images a {
    width: 18.5%;
    display: flex;
    justify-content: center;
}

.reviews_images img {
    width: 100%;
    
}

.reviews_images img:hover {
    transition: 1s;
    transform: scale(1.1);
}


@media screen and (max-width: 768px){
    .Reviews {
        margin-top: 90px;
    }

    .reviews_images a:nth-child(n+4) {
        display: none
    }

    .reviews_images a {
        width: 32%;
    }
}

@media screen and (max-width: 576px) {
    .Reviews {
        display: none;
    }
}