.h1 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 0.7em;
    text-transform: uppercase;
    margin-top: 120px;
    margin-bottom: 20px;
    color: #0F1E33;
    
    
}

.underH1 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 119px;
    /* identical to box height */
    color: #0F1E33;
    margin: 0;

}

.underTitle {
    margin-top: 0;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    width: 520px;
    color: rgba(15, 30, 51, 0.8);
    margin-bottom: 0;
}

.mainForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    width: max-content;
    margin-top: 52px;
    
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.32), rgba(255, 255, 255, 0.32)), #0058E2;
    border-radius: 20px;
    margin-bottom: 60.33px;

}

.mainForm p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    color: #FFFFFF;
    margin: 0;
}

.mainForm input {
    width: 324px;
    height: 52px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 18px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.32), rgba(255, 255, 255, 0.32)), #0058E2;
    border: 1px solid white;
    border-color: #FFFFFF;
    outline: none;
    color: #FFFFFF;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 10px;
}

.mainForm a {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 352px;
    height: 52px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    background: #FFFFFF;
    border: 1px solid white;
    border-radius: 10px;
    color: rgba(0, 88, 226, 0.72);
    transition: ease-out 0.4s;
}

.mainForm a:hover {
    background-color:rgb(28,52,88);
    border: 1px solid rgb(28,52,88);
}



.mainShoes {
    position: absolute;
    width: 800px;
    right: 1px;
    top:1%;
}

.underMainShoes {
    position: absolute;
    width: 1000px;
    right: 1px;
    top: 47%;
   
}

@media screen and (max-width: 1250px) {
    .mainShoes {    
        width: 700px;    
    }
    
    .underMainShoes {
        width: 800px;
        top: 350px; 
    }
}
@media screen and (max-width: 1200px) {
    .h1 {
        font-size: 86px;
    }
    .underH1 {
        font-size: 86px;
    }
    .underTitle {
        font-size: 18px;
        width: 490px;
    }

    .mainShoes {
        top: 25px;
        width: 650px; 
    }

    .underMainShoes {
        width: 750px;
        top: 344px;     
    }
}

@media screen and (max-width: 1100px) {
    .mainShoes {
        top: 60px;
        width: 550px; 
    }

    .underMainShoes {
        width: 650px;
        top: 330px;     
    }
}
@media screen and (max-width: 992px) {
    .h1 {
        font-size: 70px;
        margin-top: 100px;
        line-height: 0.3em;
        margin-bottom: 0;
    }
    .underH1 {
        font-size: 70px;
    }
    .underTitle {
        font-size: 16px;
        width: 420px;
    }

    .mainForm {
        margin-bottom: 35px;
    }

    .mainForm p{
        font-size: 18px;
    }

    .mainForm input {
        width: 89%;
        height: 42px;
        font-size: 14px;
    }
    .mainForm a {
        
        width: 260px;
        height: 42px;
        
        font-size: 14px;
        
    }

    .mainShoes {
        top: 35px;
        width: 530px; 
    }

    .underMainShoes {
        width: 600px;
        top: 280px;     
    }

}

@media screen and (max-width: 910px) {
    .mainShoes {
        top: 40px;
        width: 450px; 
    }

    .underMainShoes {
        width: 500px;
        top: 260px;     
    }
}

@media screen and (max-width: 860px) {
    
    .h1 {
        font-size: 55px;
        margin-top: 100px;
        line-height: 0.3em;
        margin-bottom: 0;
    }
    .underH1 {
        font-size: 55px;
    }

    .underTitle {
        font-size: 14px;
        width: 360px;
    }

    .mainForm {
        padding: 20px;
        margin-top: 35px;
        margin-bottom: 30px;
    }

    .mainForm p{
        font-size: 16px;
    }

    .mainForm input {
        width: 87%;
        height: 32px;
        font-size: 12px;
    }
    .mainForm a {
        
        width: 220px;
        height: 32px;
        
        font-size: 12px;
        
    }

    .mainShoes {
        top: 40px;
        width: 450px; 
    }

    .underMainShoes {
        width: 500px;
        top: 260px;     
    }
}

@media screen and (max-width: 810px) {
    .mainShoes {
        top: 40px;
        width: 350px; 
    }

    .underMainShoes {
        width: 450px;
        top: 213px;     
    }
}
@media screen and (max-width: 768px){
    .Main {
        padding-top: 140px;
    }
    
    .h1 {
        margin-top: 0;
    }
    .mainForm {
        gap: 10px;
    }

    .mainForm p{
        font-size: 14px;
    }

    .mainForm input {
        height: 25px;
        width: 84%;
        font-size: 10px;
    }
    .mainForm a {
        
        width: 180px;
        height: 25px;
        
        font-size: 10px;
        
    }
}


@media screen and (max-width: 720px) {
    .mainShoes {
        display: none;
    }

    .underMainShoes {
        display: none;    
    }
}
@media screen and (max-width: 576px) {
    .mainShoes {
        display: none;
    }

    .underMainShoes {
        display: none;
    }

    .h1 {
        margin-top: 30px;
        font-size: 40px;
        line-height: 0em;
    }
    .underH1 {
        font-size: 40px;
    }

    .underTitle {
        font-size: 12px;
        margin-top: -20px;
        margin-bottom: 30px;
        width: 280px;
        line-height: 1.5em;
    }
    .mainForm {
        display: none;
        margin-left: auto;
        margin-right: auto;
        padding: 24px;
        gap: 10px;
        width: max-content;
    }

    .mainForm p {

        font-size: 16px;
        line-height: 25px;
        
    }
    
    .mainForm input {
        width: 95%;
        height: 45px;
        font-size: 12px;
    }
    
    .mainForm a {
        
        
        width: 250px;
        height: 45px;
        
        font-size: 12px;

    }
    
}